body {
    background-image: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;

}

.navbar-nav {
    margin-left: auto;
}

.btn {
    margin: 10px 20px 10px 10px;
}

.container {
    margin-top: 15%;
}

h1 {
    color: black;
}

h3 {
    color: rgb(255, 194, 40);
    margin-left: auto;
    margin-right: auto;

}


